<header class="header_area" [ngClass]="{'header-home-page': isHomePage()}">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo.svg" alt="David Bradshaw Home"></a>
        <button class="navbar-toggler" id="mobile-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-end">
            <li *ngFor="let menuItem of menuItems" class="nav-item" [ngClass]="{'active': isActiveRoute(menuItem)}">
              <a class="nav-link" (click)="routeClick()" [routerLink]="menuItem.link">{{menuItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<app-banner [home]="isHomePage()"></app-banner>
