<section class="contact_area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="contact_info">
                  <div class="info_item">
                      <i class="fa fa-home"></i>
                      <h6>Silicon Valley</h6>
                      <p>Santa Clara</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact_info">
                  <div class="info_item">
                      <i class="fa fa-envelope"></i>
                      <h6>Send a message</h6>
                      <p>Send me an email or LinkedIn message</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact_info">
                  <div class="info_item">
                    <i class="fa fa-linkedin"></i>
                    <h6>Connect on LinkedIn</h6>
                    <p>Connect or message me via <a href="https://linkedin.com/in/davidbradshawus" target="_blank" title="LinkedIn">LinkedIn</a></p>
                </div>
              </div>
          </div>
      </div>
      <div id="mapBox" class="mapBox"></div>
  </div>
</section>
