@import '../variables';

.banner-area {
  .single_slide_banner {
      background-size: cover;
      background-repeat: no-repeat;
  }
  .slide_bg1 {
      background: url(/assets/images/home-banner.jpg);
  }
  .fullscreen {
      @media (max-width: 991px) {
          height: 600px !important;
      }
  }
}

.banner-content {
  text-align: left;
  @media (max-width: 1680px) {
      text-align: center;
  }
  @media (max-width: 680px) {
      padding: 48px 20px;
      background: #fff;
      margin: 0 15px;
  }
  .primary-btn {
      background: $primary-color;
      border: 2px solid transparent;
      color: #fff;
      &:hover {
          background: transparent;
          border-color: $primary-color;
          color: #000;
      }
  }
  h1 {
      color: #000;
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 20px;
      @media (max-width: 991px) {
          font-size: 40px;
      }
  }
  h3 {
      font-size: 30px;
      font-family: $primary-font;
      font-weight: 400;
      color: #000;
      margin-bottom: 30px;
      @media (max-width: 991px) {
          font-size: 20px;
      }
  }
}

/* End Home Banner Area css
============================================================================================ */

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 400px;
  .banner_inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 400px;
      background-image: url(/assets/images/banner.jpg);
      background-size: cover;
      z-index: 1;
      .banner_content {
          h1 {
              color: #000;
              font-size: 60px;
              margin-bottom: 20px;
              text-transform: capitalize;
              font-weight: 700;
          }
      }
  }
}
