<section class="section_gap portfolio_area" id="work">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="main-title">
          <h1>{{limitView ? 'Latest works' : 'Portfolio items'}}</h1>
          <p>
            You can browse projects I have worked on below.
            @if (!limitView) {
              <span>Filter by type to explore stuff I designed or programmed.</span>
            }
            Click an item to view the full details of the project.
            @if (limitView) {
              <span>Below are my most recent works, to view the entire portfolio visit the portfolio page.</span>
            }
          </p>
          @if (limitView) {
            <a routerLink="/portfolio" class="primary-btn top-space">View portfolio</a>
          }
        </div>
      </div>
    </div>
    @if (pageStatus==='loading') {
      <app-loading></app-loading>
    }
    @if (pageStatus==='error') {
      <app-error></app-error>
    }
    @if (!pageStatus) {
      <div class="row justify-content-center">
        <div class="col-lg-10">
          @if (!limitView) {
            <div class="projects_fillter">
              <ul class="filter list">
                @for (filter of availableFilters; track filter) {
                  <li [ngClass]="{'active': filter.id === currentFilter.id}" (click)="changeFilter(filter)">{{filter.name}}</li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
      <div class="projects_inner row grid">
        @if (portfolioItems.length) {
          @for (portfolioItem of portfolioItems; track portfolioItem) {
            @if (portfolioItemVisible(portfolioItem.category)) {
              <div class="{{portfolioItem.gridSize}} grid-item brand">
                <a class="projects_item" [routerLink]="'/portfolio/' + portfolioItem.id">
                  <img class="img-fluid w-100" [src]="portfolioItem.imageUrl" [alt]="portfolioItem.name">
                  <div class="projects_text">
                    <h4>{{portfolioItem.name}}</h4>
                    <p>{{portfolioItem.type}}</p>
                  </div>
                </a>
              </div>
            }
          }
        }
        @if (!portfolioItems.length) {
          <div class="no-results col-sm-12">No results were found. Try clearing the filter or refreshing the page.</div>
        }
      </div>
    }
  </div>
</section>
