<section class="section_gap portfolio_area" id="work">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="main-title">
          <h1>{{limitView ? 'Latest works' : 'Portfolio items'}}</h1>
          <p>
            You can browse projects I have worked on below.
            <span *ngIf="!limitView">Filter by type to explore stuff I designed or programmed.</span>
            Click an item to view the full details of the project.
            <span *ngIf="limitView">Below are my most recent works, to view the entire portfolio visit the portfolio page.</span>
          </p>
          <a *ngIf="limitView" routerLink="/portfolio" class="primary-btn top-space">View portfolio</a>
        </div>
      </div>
    </div>
    <app-loading *ngIf="pageStatus==='loading'"></app-loading>
    <app-error *ngIf="pageStatus==='error'"></app-error>
    <ng-container *ngIf="!pageStatus">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div *ngIf="!limitView" class="projects_fillter">
            <ul class="filter list">
              <li *ngFor="let filter of availableFilters" [ngClass]="{'active': filter.id === currentFilter.id}" (click)="changeFilter(filter)">{{filter.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="projects_inner row grid">
        <ng-container *ngIf="portfolioItems.length">
          <ng-container *ngFor="let portfolioItem of portfolioItems">
            <div *ngIf="portfolioItemVisible(portfolioItem.category)" class="{{portfolioItem.gridSize}} grid-item brand">
              <a class="projects_item" [routerLink]="'/portfolio/' + portfolioItem.id">
                <img class="img-fluid w-100" [src]="portfolioItem.imageUrl" [alt]="portfolioItem.name">
                <div class="projects_text">
                  <h4>{{portfolioItem.name}}</h4>
                  <p>{{portfolioItem.type}}</p>
                </div>
              </a>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!portfolioItems.length">
          <div class="no-results col-sm-12">No results were found. Try clearing the filter or refreshing the page.</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
