@import '../../styles/variables';

.mapBox {
  height: 420px;
  width: 100%;
  position: relative;
  text-align: right;
  margin-top: 60px;

  .gmap_canvas {
    overflow:hidden;
    background:none !important;
    width:100%;
    height:420px;
  }

  .gmap_iframe {
    height:420px !important;
  }
}

.contact_area {
  a {
    color: #683fc6;
  }
}

.contact_info {
  .info_item {
      position: relative;
      padding-left: 45px;
      i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 22px;
          line-height: 24px;
          color: $primary-color;
          font-weight: 600;
      }
      h6 {
          font-size: 16px;
          line-height: 24px;
          color: $primary-font;
          font-weight: bold;
          margin-bottom: 0px;
          color: $title-color;
          a {
              color: $title-color;
          }
      }
      p {
          font-size: 14px;
          line-height: 24px;
          padding: 2px 0px;
      }
  }
}
