@import '../../styles/variables';

.footer_area{
  background: #000000;

  .f_logo img {
    width: 60px;
    height: 60px;
  }
}
.social_widget{
	.f_title{
		h4{
			font-size: 21px;
			margin: 40px 0 20px;
			color: #FFF;
		}
	}
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $primary-font;
		color: $text-color;
		margin-bottom: 10px;
	}
	.list{
		li{
			margin-right: 40px;
			display: inline-block;
			a{
				color: $primary-color;
				font-size: 36px;
				@include transition;
			}
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				a{
					color: $primary-color3;
				}
			}
		}
	}
}
.copyright{
	margin-top: 40px;
	p{
		color: #FFF;
		a{
			color: $primary-color;
		}
	}
}
