<section class="section_gap resume_area" id="resume">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="main-title">
          <h1>My Résumé</h1>
          <p>
            My most recent education and job experiences are listed here chronologically and you can also download a PDF version if you prefer.
            <br>
            <br>
          </p>
          <a href="/assets/documents/David Bradshaw Resume.pdf" target="_blank" class="primary-btn">Download résumé</a>
        </div>
      </div>
    </div>
    <div class="reusme_content">
      <app-loading *ngIf="pageStatus==='loading'"></app-loading>
      <app-error *ngIf="pageStatus==='error'"></app-error>
      <ng-container *ngIf="!pageStatus">
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Experience</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let experience of experiences" class="listing" [ngClass]="{'collapsed-item': experience.collapsed && !viewData.experience.visible}">
              <div class="listing-title">{{experience.jobTitle}}</div>
              <div class="listing-subtitle">{{experience.company}}, {{experience.location}}; {{experience.displayDateString}}</div>
              <div class="listing-roles" *ngIf="experience.roles">
                <div class="listing-roles--item" *ngFor="let role of experience.roles">{{role.displayDateString}} &mdash; {{role.jobTitle}}</div>
              </div>
              <div class="listing-description">{{experience.description}}</div>
            </div>
            <a href="" *ngIf="viewData.experience.hasMore" (click)="showMore('experience', $event)">Show more</a>
          </div>
        </div>
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Education</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let education of educations" class="listing" [ngClass]="{'collapsed-item': education.collapsed && !viewData.education.visible}">
              <div class="listing-title">
                <span>{{education.degree}} {{education.program ? 'in' : ''}} {{education.program}}</span>
                <i *ngIf="!education.endDate" class="fa fa-asterisk listing-note" title="In progress"></i>
              </div>
              <div class="listing-subtitle">{{education.school}}, {{education.location}}; {{education.displayDateString}}</div>
              <div class="listing-description">{{education.description}}</div>
            </div>
            <a href="" *ngIf="viewData.education.hasMore" (click)="showMore('education', $event)">Show more</a>
          </div>
        </div>
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Certificates</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let certificate of certificates" class="listing" [ngClass]="{'collapsed-item': certificate.collapsed && !viewData.certificate.visible}">
              <div class="listing-title">
                <span>{{certificate.degree}} {{certificate.program ? 'in' : ''}} {{certificate.program}}</span>
                <i *ngIf="!certificate.endDate" class="fa fa-asterisk listing-note" title="In progress"></i>
              </div>
              <div class="listing-subtitle">{{certificate.school}}, {{certificate.location}}; {{certificate.displayDateString}}</div>
              <div class="listing-description">{{certificate.description}}</div>
            </div>
            <a href="" *ngIf="viewData.certificate.hasMore" (click)="showMore('certificate', $event)">Show more</a>
          </div>
        </div>
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Awards</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let award of awards" class="listing" [ngClass]="{'collapsed-item': award.collapsed && !viewData.award.visible}">
              <div class="listing-title">
                <span>{{award.name}}</span>
              </div>
              <div class="listing-subtitle">{{award.issuer}}, {{award.location}}; {{award.displayDateString}}</div>
              <div class="listing-description">{{award.description}}</div>
            </div>
            <a href="" *ngIf="viewData.award.hasMore" (click)="showMore('award', $event)">Show more</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
