<section class="section_gap resume_area" id="resume">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="main-title">
          <h1>My Résumé</h1>
          <p>
            My most recent education and job experiences are listed here chronologically and you can also download a PDF version if you prefer.
            <br>
              <br>
              </p>
              <a href="/assets/documents/David Bradshaw Resume.pdf" target="_blank" class="primary-btn">Download résumé</a>
            </div>
          </div>
        </div>
        <div class="reusme_content">
          @if (pageStatus==='loading') {
            <app-loading></app-loading>
          }
          @if (pageStatus==='error') {
            <app-error></app-error>
          }
          @if (!pageStatus) {
            <div class="row justify-content-center resume-grouping">
              <div class="col-md-4 padded-right">
                <div class="section-title main-title">
                  <h1>Experience</h1>
                </div>
              </div>
              <div class="col-md-8">
                @for (experience of experiences; track experience) {
                  <div class="listing" [ngClass]="{'collapsed-item': experience.collapsed && !viewData.experience.visible}">
                    <div class="listing-title">{{experience.jobTitle}}</div>
                    <div class="listing-subtitle">{{experience.company}}, {{experience.location}}; {{experience.displayDateString}}</div>
                    @if (experience.roles) {
                      <div class="listing-roles">
                        @for (role of experience.roles; track role) {
                          <div class="listing-roles--item">{{role.displayDateString}} &mdash; {{role.jobTitle}}</div>
                        }
                      </div>
                    }
                    <div class="listing-description">{{experience.description}}</div>
                  </div>
                }
                @if (viewData.experience.hasMore) {
                  <a href="" (click)="showMore('experience', $event)">Show more</a>
                }
              </div>
            </div>
            <div class="row justify-content-center resume-grouping">
              <div class="col-md-4 padded-right">
                <div class="section-title main-title">
                  <h1>Education</h1>
                </div>
              </div>
              <div class="col-md-8">
                @for (education of educations; track education) {
                  <div class="listing" [ngClass]="{'collapsed-item': education.collapsed && !viewData.education.visible}">
                    <div class="listing-title">
                      <span>{{education.degree}} {{education.program ? 'in' : ''}} {{education.program}}</span>
                      @if (!education.endDate) {
                        <i class="fa fa-asterisk listing-note" title="In progress"></i>
                      }
                    </div>
                    <div class="listing-subtitle">{{education.school}}, {{education.location}}; {{education.displayDateString}}</div>
                    <div class="listing-description">{{education.description}}</div>
                  </div>
                }
                @if (viewData.education.hasMore) {
                  <a href="" (click)="showMore('education', $event)">Show more</a>
                }
              </div>
            </div>
            <div class="row justify-content-center resume-grouping">
              <div class="col-md-4 padded-right">
                <div class="section-title main-title">
                  <h1>Certificates</h1>
                </div>
              </div>
              <div class="col-md-8">
                @for (certificate of certificates; track certificate) {
                  <div class="listing" [ngClass]="{'collapsed-item': certificate.collapsed && !viewData.certificate.visible}">
                    <div class="listing-title">
                      <span>{{certificate.degree}} {{certificate.program ? 'in' : ''}} {{certificate.program}}</span>
                      @if (!certificate.endDate) {
                        <i class="fa fa-asterisk listing-note" title="In progress"></i>
                      }
                    </div>
                    <div class="listing-subtitle">{{certificate.school}}, {{certificate.location}}; {{certificate.displayDateString}}</div>
                    <div class="listing-description">{{certificate.description}}</div>
                  </div>
                }
                @if (viewData.certificate.hasMore) {
                  <a href="" (click)="showMore('certificate', $event)">Show more</a>
                }
              </div>
            </div>
            <div class="row justify-content-center resume-grouping">
              <div class="col-md-4 padded-right">
                <div class="section-title main-title">
                  <h1>Awards</h1>
                </div>
              </div>
              <div class="col-md-8">
                @for (award of awards; track award) {
                  <div class="listing" [ngClass]="{'collapsed-item': award.collapsed && !viewData.award.visible}">
                    <div class="listing-title">
                      <span>{{award.name}}</span>
                    </div>
                    <div class="listing-subtitle">{{award.issuer}}, {{award.location}}; {{award.displayDateString}}</div>
                    <div class="listing-description">{{award.description}}</div>
                  </div>
                }
                @if (viewData.award.hasMore) {
                  <a href="" (click)="showMore('award', $event)">Show more</a>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </section>
