<section class="section_gap resume_area" id="resume">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="main-title">
          <h1>My Resume</h1>
          <p>
            Check out my resume below.  My recent job experiences and education are below
            and you can download a PDF version using the button below.
            <br>
            <br>
          </p>
          <a href="/assets/documents/David Bradshaw Resume.pdf" target="_blank" class="primary-btn">Download resume</a>
        </div>
      </div>
    </div>
    <div class="reusme_content">
      <app-loading *ngIf="pageStatus==='loading'"></app-loading>
      <app-error *ngIf="pageStatus==='error'"></app-error>
      <ng-container *ngIf="!pageStatus">
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Experience</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let experience of experiences" class="listing">
              <div class="listing-title">{{experience.jobTitle}}</div>
              <div class="listing-subtitle">{{experience.company}}, {{experience.location}}; {{experience.displayDateString}}</div>
              <div class="listing-description">{{experience.description}}</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center resume-grouping">
          <div class="col-md-4 padded-right">
            <div class="section-title main-title">
              <h1>Education</h1>
            </div>
          </div>
          <div class="col-md-8">
            <div *ngFor="let education of educations" class="listing">
              <div class="listing-title">
                <span>{{education.degree}} in {{education.program}}</span>
                <i *ngIf="!education.endDate" class="fa fa-asterisk listing-note" title="In progress"></i>
              </div>
              <div class="listing-subtitle">{{education.school}}, {{education.location}}; {{education.displayDateString}}</div>
              <div class="listing-description">{{education.description}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
