@import 'normalize.css/normalize.css';
@import 'bootstrap/scss/bootstrap';
$fa-font-path: "font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';
@import './styles/variables';

// Resets
body {
  line-height: 24px;
  font-size: 14px;
  font-family: $primary-font;
  font-weight: 500;
  color: $text-color;
  &.elements {
      font-weight: 400;
  }
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-weight: 600;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
      text-decoration: none;
      outline: none;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

.section_gap {
  padding: 80px 0;
  @media (max-width: 991px) {
    padding: 60px 0;
  }
}

.section_gap_top {
  padding-top: 120px;
  @media (max-width: 991px) {
    padding-top: 80px;
  }
}

.section_gap_bottom {
  padding-bottom: 120px;
  @media (max-width: 991px) {
    padding-bottom: 80px;
  }
}

.gray-bg {
  background: #f9f9ff;
}

.main-title {
  text-align: center;
  margin-bottom: 75px;
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
  h1 {
    font-family: $title-font;
    font-size: 48px;
    color: $title-color;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    @media (max-width: 767px) {
      font-size: 36px;
      padding-bottom: 0px !important;
    }
    &:before {
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: 100px;
      content: "";
      background: $primary-color;
      margin-left: -50px;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:after {
      position: absolute;
      left: 50%;
      bottom: -4px;
      height: 10px;
      width: 10px;
      content: "";
      background: $primary-color;
      margin-left: -5px;
      border-radius: 50%;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  p {
    font-size: 15px;
    font-family: $primary-font;
    line-height: 26px;
    color: $text-color;
    margin-bottom: 0px;
    margin: auto;
  }
}

.primary-btn {
  display: inline-block;
  color: #000;
  font-family: $primary-font;
  font-size: 15px;
  font-weight: 500;
  line-height: 46px;
  padding: 0 40px;
  outline: none !important;
  text-align: center;
  border: 2px solid #90acd1;
  border-radius: 50px;
  cursor: pointer;
  @include transition();
  &:hover {
    background: $primary-color;
    color: #fff;
    border: 2px solid transparent;
  }
}

.injected-portfolio-item {
  h1 {
    margin-bottom: 24px;
    color: $title-color;
  }

  .image-group {
    margin-bottom: 16px;

    img {
      width: auto;
      max-width: 820px;
      display: block;
      margin: 0 auto;

      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }
    a, span {
      font-style: italic;
      text-align: center;
      display: block;
      margin-top: 12px;
    }

    span > a {
      display: inline;
    }
  }

  blockquote {
    background-color: rgba($text-color, 0.1);
    border-left: 10px solid $text-color;
    margin: 1rem 0;
    padding: 0.5em 10px;
    font-style: italic;

    &:before {
      color: $text-color;
      content: '“';
      font-size: 3.5em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.56em;
    }

    p {
      display: inline;
    }
  }

  table {
    margin: 22px 18px;
    border: 1px solid $text-color;

    .center-content {
      text-align: center;
    }

    td, th {
      padding: 4px 6px;
      border: 1px solid $text-color;
    }

    th {
      background-color: rgba($primary-color2, 0.4);
      font-weight: bold;
    }
  }
}

.row > * {
  flex-shrink: inherit !important;
}
